<%- include('partials/header'); -%>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!-- Greeting section -->

<div class="container-fluid-header container-fluid text-center greeting">
  <h1 id="animation"></h1>
  <div class="greeting-question">
    <h3 class="question">
      Do you have a coffee ?
      <!-- take a walking around seem nice/read a good book/ /would you like to enjoy tea/-->
    </h3>
  </div>
  <div class="row">
    <div class="col-lg-2 col-sm-4 ">
      <div class="btn-secondary mb-4">
        <p class="pt-2">Year</p>
        <h3 class="get-time">year</h3>
      </div>
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <div class="btn-secondary">
        <p class="pt-2">Month</p>
        <h3 class="get-time">month</h3>
      </div>
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <div class="btn-secondary">
        <p class="pt-2">Day</p>
        <h3 class="get-time">date</h3>
      </div>
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <div class="btn-secondary">
        <p class="pt-2">Hours</p>
        <h3 class="get-time">hours</h3>
      </div>
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <div class="btn-secondary">
        <p class="pt-2">Minutes</p>
        <h3 class="get-time">minutes</h3>
      </div>
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <div class="btn-secondary">
        <p class="pt-2">Seconds</p>
        <h3 class="get-time">seconds</h3>
      </div>
    </div>
  </div>
</div>

<!-- grid-3 collumn section -->
<div class="container-fluid-padding container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class=" ">
        <img class="circle-img" src="images/englishforFun.jpg" alt="" />
        <h3 class="text-success my-4">What is secret of success</h3>
        <p>
          Some representative placeholder content for the three columns of text
          below the carousel. This is the first column.
        </p>
        <p><a class="btn btn-secondary small" href="#">Read More &raquo;</a></p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="">
        <img class="circle-img" src="images/goSlow.jpg"  src="" alt="" />
        <h3 class="text-success my-4">What is secret of success</h3>
        <p>
          Another exciting bit of representative placeholder content. This time,
          we've moved on to the second column.
        </p>
        <p><a class="btn btn-secondary small" href="#">Read More &raquo;</a></p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="">
        <img class="circle-img" src="images/learningen.jpg"  alt="" />
        <h3 class="text-success my-4">What is secret of success</h3>
        <p>
          And lastly this, the third column of representative placeholder
          content. e moved on to the second column
        </p>
        <p><a class="btn btn-secondary small" href="#">Read More&raquo;</a></p>
      </div>
    </div>
  </div>
</div>

<!-- jokes-carousel section -->
<div id="jokes-carousel">
  <div
    id="carouseJokes"
    data-bs-interval="false"
    class="carousel carousel-dark"
    data-bs-ride="false"
  >
    <div class="carousel-indicators mt-4 mb-0">
      <button
        type="button"
        data-bs-target="#carouseJokes"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouseJokes"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouseJokes"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouseJokes"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouseJokes"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item container-fluid active">
        <div class="carousel-padding">
          <div class="row">
            <div class="col-md-6">
              <img
                class="jokes-image"
                src="images/developerpoem.jpg"
                alt="developer-poem"
              />
            </div>
            <div class="col-md-6">
              <p class="italic">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
                 It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-caption">
          <h4>When developers make poem.</h4>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-padding">
          <div class="row">
            <div class="col-md-6">
              <img
                class="jokes-image"
                src="images/cleancode.jpg" alt="clean-codes"
              />
            </div>
            <div class="col-md-6">
              <p class="italic">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
                 It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-caption">
          <h4>
            When you care nothing except writing clean codes. Then realize that
            you are an expert "Hello World".
          </h4>
        </div>
      </div> 

      
<!-- not format the same yet -->
      <div class="carousel-item">
        <img
          class="jokes-image"
          src="images/codechange.jpg"
          alt="code-change"
        />
        <div class="carousel-caption">
          <h4>When codes change every hour. every second is responsible.</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img class="jokes-image" src="images/gameshow.jpg" alt="code-change" />
        <div class="carousel-caption">
          <h4>
            When programmers in the gameshow. Every answer looks like our
            friends.
          </h4>
        </div>
      </div>
      <div class="carousel-item">
        <img
          class="jokes-image"
          src="images/understandcode.jpg"
          alt="understandingcode"
        />
        <div class="carousel-caption">
          <h4>
            The most unexplainable thing is trying to understand your own codes.
          </h4>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouseJokes"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouseJokes"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Articles section  (id="list-example")-->

<div id="categories" class="container-fluid container-fluid-padding btn-light">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="list-group">
        <% post.forEach(e => { %>
        <div class="single-topic mb-1">
          <button
            class="btn btn-categories"
            data-bs-toggle="collapse"
            href="#collapseTopic1"
            role="button"
            aria-expanded="false"
            aria-controls="collapseTopic1"
          >
            <%= e.topic %>
          </button>
          <div class="collapse list-group-collapse" id="collapseTopic1">
            <div class="card card-body">
              <a class="small my-0" href="#<%= e._id %>"> <%= e.title %></a>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>

    <div class="col-lg-7 col-md-8">
      <div class="articles">
        <div class="single-articles">
          <div>
            <p class=" mb-4">
             Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
          <div>
            <% post.forEach(e => { %>
            <h2 class="blog-post-title"><%= e.topic %></h2>
            <p class="text-success italic"><%= e.topicIntro %></p>
            <hr />
            <h3 id="<%= e._id %>"><strong><%= e.title %></strong></h3>
            <% if (e.content.length > 600){ %>
            <p>
              <%= e.content.substring(0,300) %>
              <a href="#">link</a>
            </p>
            <% } else { %>
            <p><%= e.content %></p>
            <% }; %> <% }); %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="newArticles">
        <h5>News Articles</h5>
        <div class="italic small d-flex flex-column">
          <% post.forEach(e => { %>
          <a href="#<%= e._id %>"> <%= e.title %> </a>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section-features -->
<div class="container-fluid container-fluid-header">
  <div class="row">
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="d-inline-block mb-2 text-primary">Story</h3>
          <!-- <h3 class="mb-1 "></h3> -->
          <div class="mb-1 text-muted small italic">Mar 2021</div>
          <p class="card-text mb-auto">
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a href="#" class="stretched-link small">Continue reading</a>
        </div>
        <div class="col-auto d-lg-block">
          <img class="features-img" src="images/givingTree.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="d-inline-block mb-2 text-primary">For Fun</h3>
          <!-- <h3 class="mb-0"> </h3> -->
          <div class="mb-1 text-muted italic small">Mar 2021</div>
          <p class="mb-auto">
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a href="#" class="stretched-link small">Continue reading</a>
        </div>
        <div class="col-auto d-lg-block">
          <img class="features-img" src="images/airvalue.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="d-inline-block mb-2 text-primary">Studying</h3>
          <!-- <h3 class="mb-1 "></h3> -->
          <div class="mb-1 text-muted small italic">Mar 2021</div>
          <p class="card-text mb-auto">
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a href="#" class="stretched-link small">Continue reading</a>
        </div>
        <div class="col-auto d-lg-block">
          <img class="features-img" src="images/englishEasyCut.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="d-inline-block mb-2 text-primary">Books</h3>
          <!-- <h3 class="mb-0"> </h3> -->
          <div class="mb-1 text-muted small italic">Mar 2021</div>
          <p class="mb-auto">
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a href="#" class="stretched-link small">Continue reading</a>
        </div>
        <div class="col-auto d-lg-block">
          <img class="features-img" src="images/howtowinfriends.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section subcriber -->
<div class="subcriber-section container-fluid container-fluid-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex flex-column">
        <div class="card mb-5">
          <div class="card-body p-4">
            <h3 class="card-title pt-0 text-success">Card title</h3>
            <p class="card-text">
              It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.Some quick example text to build on the card title and
              make up the bulk of the card's content.
            </p>
            <a href="#" class="card-link small">Card link</a>
            <a href="#" class="card-link small">Another link</a>
          </div>
        </div>

        <div>
          <h3 class="mb-4">
            Hope you enjoy the reading, do not forget to subcribe my newletters
          </h3>
          <input
            class="input-subcriber btn"
            type="email"
            placeholder="Enter your email"
          />
          <button class="btn btn-subcribe">Subcribe Now</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="phoneCase mx-auto">
        <div class="m-2">
          <div class="d-flex justify-content-between">
            <p class="color-gray get-time">hours:minutes</p>
            <div class="phone-camera">
              <!-- <i class="fas fa-dot-circle fas-7x"></i> -->
            </div>
            <div>
              <i class="fas fa-wifi mx-2 color-gray"></i>
              <i class="fas fa-battery-quarter color-gray"></i>
              <i class="fas fa-cog mx-2 color-gray"></i>
              <i class="fas fa-sign-in-alt color-gray"></i>
            </div>
          </div>
          <div class="phone-searchbox mb-3 d-flex justify-content-between">
            <input
              type="text"
              name="search"
              placeholder="Gmail.com"
              class="phone-search color-gray"
            />
            <div>
              <i class="fas fa-search fas-3x mx-2 color-gray"></i>
              <i class="fas fa-bars color-gray me-2"></i>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <i class="fas fa-arrow-left color-gray"></i>
              <img class="phone-image" src="images/gmailLogo.jpg" alt="" />
            </div>
            <div>
              <i class="fas fa-paperclip color-gray"></i>
              <i class="fas fa-share color-gray mx-2"></i>
              <i class="fas fa-ellipsis-v color-gray"></i>
            </div>
          </div>
          <div class="phone-content">
            <p>From: Sunebelle@gmail.com</p>
            <hr />
            <p>To: abc@gmail.com</p>
            <hr />
            <p>Subject</p>
            <hr />
            <p class="pb-2">Hi,</p>
            <p>Welcome to my newletters.....</p>
          </div>
        </div>
        <img class="keyboard-image" src="images/phoneKeyboard.JPG" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<!-- <script src="index.js" ></script> -->

<!-- Footer -->
<%- include('partials/footer'); -%>
